Untitled-1.ipynb
saved_models/BERT_original/BERT_original_epoch0.pkl
saved_models/BERT_original/BERT_original_epoch1.pkl
saved_models/BERT_original/BERT_original_epoch2.pkl
saved_models/BERT_original/BERT_original_epoch3.pkl
saved_models/BERT_original/BERT_original_epoch4.pkl
saved_models/BERT_original/BERT_original_epoch5.pkl
saved_models/BERT_original/BERT_original_epoch6.pkl
saved_models/BERT_original/BERT_original_epoch7.pkl
saved_models/BERT_original/BERT_original_epoch8.pkl
saved_models/BERT_original/BERT_original_epoch9.pkl
saved_models/BERT_original/BERT_original_epoch10.pkl
saved_models/BERT_original/BERT_original_epoch11.pkl
saved_models/BERT_original/BERT_original_epoch12.pkl
saved_models/BERT_original/BERT_original_epoch13.pkl
saved_models/BERT_original/BERT_original_epoch14.pkl
saved_models/BERT_original/BERT_original_epoch15.pkl
saved_models/BERT_original/BERT_original_epoch16.pkl
saved_models/BERT_original/BERT_original_epoch17.pkl
saved_models/BERT_original/BERT_original_epoch18.pkl
saved_models/BERT_original/BERT_original_epoch19.pkl
saved_models/BERT_pair/BERT_pair_epoch0.pkl
saved_models/BERT_pair/BERT_pair_epoch1.pkl
saved_models/BERT_pair/BERT_pair_epoch2.pkl
saved_models/BERT_pair/BERT_pair_epoch3.pkl
saved_models/BERT_pair/BERT_pair_epoch4.pkl
saved_models/BERT_pair/BERT_pair_epoch5.pkl
saved_models/BERT_pair/BERT_pair_epoch6.pkl
saved_models/BERT_pair/BERT_pair_epoch7.pkl
saved_models/BERT_pair/BERT_pair_epoch8.pkl
saved_models/BERT_pair/BERT_pair_epoch9.pkl
saved_models/BERT_pair/BERT_pair_epoch10.pkl
saved_models/BERT_pair/BERT_pair_epoch11.pkl
saved_models/BERT_pair/BERT_pair_epoch12.pkl
saved_models/BERT_pair/BERT_pair_epoch13.pkl
saved_models/BERT_pair/BERT_pair_epoch14.pkl
saved_models/BERT_pair/BERT_pair_epoch15.pkl
saved_models/BERT_pair/BERT_pair_epoch16.pkl
saved_models/BERT_pair/BERT_pair_epoch17.pkl
saved_models/BERT_pair/BERT_pair_epoch18.pkl
saved_models/BERT_pair/BERT_pair_epoch19.pkl
saved_models/BERT_pair_old/BERT_pair_epoch0.pkl
saved_models/BERT_pair_old/BERT_pair_epoch1.pkl
saved_models/BERT_pair_old/BERT_pair_epoch2.pkl
saved_models/BERT_pair_old/BERT_pair_epoch3.pkl
saved_models/BERT_pair_old/BERT_pair_epoch4.pkl
saved_models/BERT_pair_old/BERT_pair_epoch5.pkl
saved_models/BERT_pair_old/BERT_pair_epoch6.pkl
saved_models/BERT_pair_old/BERT_pair_epoch7.pkl
saved_models/BERT_pair_old/BERT_pair_epoch8.pkl
saved_models/BERT_pair_old/BERT_pair_epoch9.pkl
saved_models/BERT_pair_old/BERT_pair_epoch10.pkl
saved_models/BERT_pair_old/BERT_pair_epoch11.pkl
saved_models/BERT_pair_old/BERT_pair_epoch12.pkl
saved_models/BERT_pair_old/BERT_pair_epoch13.pkl
saved_models/BERT_pair_old/BERT_pair_epoch14.pkl
saved_models/BERT_pair_old/BERT_pair_epoch15.pkl
saved_models/BERT_pair_old/BERT_pair_epoch16.pkl
saved_models/BERT_pair_old/BERT_pair_epoch17.pkl
saved_models/BERT_pair_old/BERT_pair_epoch18.pkl
saved_models/BERT_pair_old/BERT_pair_epoch19.pkl
saved_models/BERT_single/BERT_single_epoch0.pkl
saved_models/BERT_single/BERT_single_epoch1.pkl
saved_models/BERT_single/BERT_single_epoch2.pkl
saved_models/BERT_single/BERT_single_epoch3.pkl
saved_models/BERT_single/BERT_single_epoch4.pkl
saved_models/BERT_single/BERT_single_epoch5.pkl
saved_models/BERT_single/BERT_single_epoch6.pkl
saved_models/BERT_single/BERT_single_epoch7.pkl
saved_models/BERT_single/BERT_single_epoch8.pkl
saved_models/BERT_single/BERT_single_epoch9.pkl
saved_models/BERT_single/BERT_single_epoch10.pkl
saved_models/BERT_single/BERT_single_epoch11.pkl
saved_models/BERT_single/BERT_single_epoch12.pkl
saved_models/BERT_single/BERT_single_epoch13.pkl
saved_models/BERT_single/BERT_single_epoch14.pkl
saved_models/BERT_single/BERT_single_epoch15.pkl
saved_models/BERT_single/BERT_single_epoch16.pkl
saved_models/BERT_single/BERT_single_epoch17.pkl
saved_models/BERT_single/BERT_single_epoch18.pkl
saved_models/BERT_single/BERT_single_epoch19.pkl
saved_models/BERT_single_old/BERT_single_epoch0.pkl
saved_models/BERT_single_old/BERT_single_epoch1.pkl
saved_models/BERT_single_old/BERT_single_epoch2.pkl
saved_models/BERT_single_old/BERT_single_epoch3.pkl
saved_models/BERT_single_old/BERT_single_epoch4.pkl
saved_models/BERT_single_old/BERT_single_epoch5.pkl
saved_models/BERT_single_old/BERT_single_epoch6.pkl
saved_models/BERT_single_old/BERT_single_epoch7.pkl
saved_models/BERT_single_old/BERT_single_epoch8.pkl
saved_models/BERT_single_old/BERT_single_epoch9.pkl
saved_models/BERT_single_old/BERT_single_epoch10.pkl
saved_models/BERT_single_old/BERT_single_epoch11.pkl
saved_models/BERT_single_old/BERT_single_epoch12.pkl
saved_models/BERT_single_old/BERT_single_epoch13.pkl
saved_models/BERT_single_old/BERT_single_epoch14.pkl
saved_models/BERT_single_old/BERT_single_epoch15.pkl
saved_models/BERT_single_old/BERT_single_epoch16.pkl
saved_models/BERT_single_old/BERT_single_epoch17.pkl
saved_models/BERT_single_old/BERT_single_epoch18.pkl
saved_models/BERT_single_old/BERT_single_epoch19.pkl
